*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font: 1rem 'Fira Sans', sans-serif;
}
:root {
    --surface1: rgb(27, 27, 27);
    --surface2: rgb(37, 37, 37);
    --surface3: rgb(48, 48, 48);
    --surface4: rgb(59, 59, 59);
    --text1: rgb(240, 240, 240);
    --text2: rgb(184, 184, 184);
    --brand: rgb(118, 161, 184);
    --brand-bg1: rgb(255, 117, 195);
    --brand-bg2: rgb(157, 119, 255);
    --brand-bg-gradient: linear-gradient( to bottom, var(--brand-bg1), var(--brand-bg2) );
    --thumb-highlight-color: rgba(255, 255, 254, 0.2);
    --space-xxs: .25rem;
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 6rem;
}

body{
    background: rgb(20, 20, 20);
}
body > div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    
    gap: 10px;
    grid-template-areas:
        "a b"
        "a b"
        "a c";
}
.a{grid-area: a}
.b{grid-area: b}
.c{grid-area: c}

body > div > div{
    margin: 1.5em;
}
h3{
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-weight: 550;
}
h1{
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    color: white;
    font-size: 24px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#levels{
    min-width: 11em;
    padding: 1.9em;
    border-radius: 16px;
    color: rgb(218, 218, 218);
}

#levels > p {display: inline}
#levels{
    padding: 0;
    margin: 0;
    display: grid;
    gap: 1px;
    border-radius: 18px;
    overflow: hidden;
    transition: box-shadow .3s ease;
}
#levels > div{
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 1.5em;
    padding: 20px;
    background:rgb(59, 59, 59);
}
#levels > div > picture{
    margin-right: 20px;
}
#levels > div > div{
    display: grid;
    gap: 2px;
}
#levels > div > div > div{
    display: flex;
    min-width: 180px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    justify-content: space-between;
}
input[type="number"]{
    padding: 0.1em;
    width: 40px;
    display: inline;
    border-radius: 0;
    border: none;
    text-align: right;
    background: transparent;
    color: white;
    float: left;
}
input[type="number"]:focus{
    outline: none;
    border: none;
}
input[type=range] {
    --track-height: .5ex;
    --track-fill: 0%;
    --thumb-size: 3ex;
    --thumb-offset: -1.25ex;
    --thumb-highlight-size: 0px;
    display: block;
    width: 100%;
    margin: 1ex 0;
    border: none;
    outline-offset: 5px;
}
input[type=range]:is(:hover,:active) {
    --thumb-highlight-size: 10px;
}

#output{
    border-radius: 18px;
    display: flex;
}

#background_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59, 59, 59);
    border-radius: 18px;
}

#box{
    display: flex;
    justify-content: center;
    background: #777777;
    width: 10em;
    height: 7em;
    border-radius: 8px;
    box-shadow: 41px -2px 43px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 41px -2px 43px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 41px -2px 43px 0px rgba(0,0,0,0.42);
    margin: 5rem 7rem;
}
input[type="color"] {
    margin-bottom: 13px;
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    -webkit-appearance: none;
    padding: 2px;
    float: right
}
input[type="color"]:focus{
    outline: none;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 15px;
    padding: 0;
}

#code{
    padding: 1.5em 1.5em;
    min-width: 26em;
    background: rgb(59, 59, 59);
    border-radius: 10px;
    color: rgb(4, 110, 160);
}

picture {
    height: var(--space-xl);
    width: var(--space-xl);
    -webkit-clip-path: circle(40%);
    clip-path: circle(40%);
    display: inline-grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    background: var(--surface3) fixed;
}
input[type=range]:hover picture{
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    background: var(--brand-bg-gradient) fixed;
}
svg {
    fill: var(--text2);
    height: var(--space-md);
}
/*EXTRACTED CODE*/

/* Hide input number arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide input number arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}